* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-size: 16px;
}
#main-header {
    margin-top: 5px;
    /*margin-left: calc(10px + 1vw);*/
    margin-left: 20px;
}

#nav-icons i {
    font-size: 1rem;
    padding-left: 10px;
    margin-right: 10px;
}

#navbarNav ul li {
    font-size: 1rem;
    font-weight: bold;
    border-radius: .3rem;
}

#navbarNav ul li:hover {
    background-color: #8c8886;
}

#navbarNav ul li a:hover {
    color: #ffffff;
}

/*.carousel-inner img*/
/*{*/
/*    !*height: 65vh;*!*/
/*}*/
.jumbotron {
    height: 70px;
    cursor: default;
    padding: 10px 5px;
    margin: 1.5vw 0;
    background-color: #e9ecef;
    border-radius: .3rem;
    font-size: 1rem;
}

.jumbotron:hover {
    background-color: #ffbc37;
    transition: 0.5s ease-in-out;
}

.jumbotron img {
    width: 30px;
    height: 30px;
}


/*h2 {*/
/*    font-weight: 900*/
/*}*/

/*.container-fluid {*/
/*    max-width: 1200px*/
/*}*/

/*.card {*/
/*    background: #fff;*/
/*    box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);*/
/*    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);*/
/*    border: 0;*/
/*    border-radius: 1rem*/
/*}*/

/*.card-img,*/
/*.card-img-top {*/
/*    border-top-left-radius: calc(1rem - 1px);*/
/*    border-top-right-radius: calc(1rem - 1px)*/
/*}*/

/*.card h5 {*/
/*    overflow: hidden;*/
/*    height: 56px;*/
/*    font-weight: 900;*/
/*    font-size: 1rem*/
/*}*/

/*.card-img-top {*/
/*    width: 100%;*/
/*    max-height: 180px;*/
/*    object-fit: contain;*/
/*    padding: 30px*/
/*}*/

/*.card h2 {*/
/*    font-size: 1rem*/
/*}*/

/*.card:hover {*/
/*    transform: scale(1.05);*/
/*    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06)*/
/*}*/

/*.label-top {*/
/*    position: absolute;*/
/*    background-color: #8bc34a;*/
/*    color: #fff;*/
/*    top: 8px;*/
/*    right: 8px;*/
/*    padding: 5px 10px 5px 10px;*/
/*    font-size: .7rem;*/
/*    font-weight: 600;*/
/*    border-radius: 3px;*/
/*    text-transform: uppercase*/
/*}*/

/*.top-right {*/
/*    position: absolute;*/
/*    top: 24px;*/
/*    left: 24px;*/
/*    width: 90px;*/
/*    height: 90px;*/
/*    border-radius: 50%;*/
/*    font-size: 1rem;*/
/*    font-weight: 900;*/
/*    background: #ff5722;*/
/*    line-height: 90px;*/
/*    text-align: center;*/
/*    color: white*/
/*}*/

/*.top-right span {*/
/*    display: inline-block;*/
/*    vertical-align: middle*/
/*}*/

/*@media (max-width: 768px) {*/
/*    .card-img-top {*/
/*        max-height: 250px*/
/*    }*/
/*}*/

/*.over-bg {*/
/*    background: rgba(53, 53, 53, 0.85);*/
/*    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);*/
/*    backdrop-filter: blur(0.0px);*/
/*    -webkit-backdrop-filter: blur(0.0px);*/
/*    border-radius: 10px*/
/*}*/

/*.btn {*/
/*    font-size: 1rem;*/
/*    font-weight: 500;*/
/*    text-transform: uppercase;*/
/*    padding: 5px 50px 5px 50px*/
/*}*/

/*.box .btn {*/
/*    font-size: 1.5rem*/
/*}*/

/*@media (max-width: 1025px) {*/
/*    .btn {*/
/*        padding: 5px 40px 5px 40px*/
/*    }*/
/*}*/

/*@media (max-width: 250px) {*/
/*    .btn {*/
/*        padding: 5px 30px 5px 30px*/
/*    }*/
/*}*/

/*.btn-warning {*/
/*    background: none #f7810a;*/
/*    color: #ffffff;*/
/*    fill: #ffffff;*/
/*    border: none;*/
/*    text-decoration: none;*/
/*    outline: 0;*/
/*    box-shadow: -1px 6px 19px rgba(247, 129, 10, 0.25);*/
/*    border-radius: 100px*/
/*}*/

/*.btn-warning:hover {*/
/*    background: none #ff962b;*/
/*    color: #ffffff;*/
/*    box-shadow: -1px 6px 13px rgba(255, 150, 43, 0.35)*/
/*}*/

/*.bg-success {*/
/*    font-size: 1rem;*/
/*    background-color: #f7810a !important*/
/*}*/

/*.bg-danger {*/
/*    font-size: 1rem*/
/*}*/

/*.price-hp {*/
/*    font-size: 1rem;*/
/*    font-weight: 600;*/
/*    color: darkgray*/
/*}*/

/*.amz-hp {*/
/*    font-size: .7rem;*/
/*    font-weight: 600;*/
/*    color: darkgray*/
/*}*/

/*.fa-question-circle:before {*/
/*    color: darkgray*/
/*}*/

/*.fa-plus:before {*/
/*    color: darkgray*/
/*}*/

/*.box {*/
/*    border-radius: 1rem;*/
/*    background: #fff;*/
/*    box-shadow: 0 6px 10px rgb(0 0 0 / 8%), 0 0 6px rgb(0 0 0 / 5%);*/
/*    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12)*/
/*}*/

/*.box-img {*/
/*    max-width: 300px*/
/*}*/

/*.thumb-sec {*/
/*    max-width: 300px*/
/*}*/

/*@media (max-width: 576px) {*/
/*    .box-img {*/
/*        max-width: 200px*/
/*    }*/

/*    .thumb-sec {*/
/*        max-width: 200px*/
/*    }*/
/*}*/

/*.inner-gallery {*/
/*    width: 60px;*/
/*    height: 60px;*/
/*    border: 1px solid #ddd;*/
/*    border-radius: 3px;*/
/*    margin: 1px;*/
/*    display: inline-block;*/
/*    overflow: hidden;*/
/*    -o-object-fit: cover;*/
/*    object-fit: cover*/
/*}*/

/*@media (max-width: 370px) {*/
/*    .box .btn {*/
/*        padding: 5px 40px 5px 40px;*/
/*        font-size: 1rem*/
/*    }*/
/*}*/

/*.disclaimer {*/
/*    font-size: .9rem;*/
/*    color: darkgray*/
/*}*/

/*.related h3 {*/
/*    font-weight: 900*/
/*}*/

/*footer {*/
/*    background: #212529;*/
/*    height: 80px;*/
/*    color: #fff*/
/*}*/
/*.card {*/
/*    border: none;*/
/*    border-radius: 10px*/
/*}*/

/*.percent {*/
/*    padding: 5px;*/
/*    background-color: red;*/
/*    border-radius: 5px;*/
/*    color: #fff;*/
/*    font-size: 14px;*/
/*    height: 35px;*/
/*    width: 70px;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    cursor: pointer*/
/*}*/

/*.wishlist {*/
/*    height: 40px;*/
/*    width: 40px;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    border-radius: 50%;*/
/*    background-color: #eee;*/
/*    padding: 10px;*/
/*    cursor: pointer*/
/*}*/

/*.img-container {*/
/*    position: relative*/
/*}*/

/*.img-container .first {*/
/*    position: absolute;*/
/*    width: 100%*/
/*}*/

/*.img-container img {*/
/*    border-top-left-radius: 5px;*/
/*    border-top-right-radius: 5px*/
/*}*/

/*.product-detail-container {*/
/*    padding: 10px*/
/*}*/

/*.ratings i {*/
/*    color: #a9a6a6*/
/*}*/

/*.ratings span {*/
/*    color: #a9a6a6*/
/*}*/

/*label.radio {*/
/*    cursor: pointer*/
/*}*/

/*label.radio input {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    visibility: hidden;*/
/*    pointer-events: none*/
/*}*/

/*label.radio span {*/
/*    height: 25px;*/
/*    width: 25px;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    border: 2px solid #dc3545;*/
/*    color: #dc3545;*/
/*    font-size: 10px;*/
/*    border-radius: 50%;*/
/*    text-transform: uppercase*/
/*}*/

/*label.radio input:checked+span {*/
/*    border-color: #dc3545;*/
/*    background-color: #dc3545;*/
/*    color: #fff*/
/*}*/
