*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
#main-header
{
    margin-top: 5px;
    margin-left: calc(10px + 1vw);
}
#nav-icons i
{
    font-size: calc(1rem + 0.5vw);
    padding-left: calc(10px + 0.5vw);
    margin-right: calc(10px + 0.5vw);
    /*padding-right: 20px;*/
}
#navbarNav ul li
{
    font-size: 1.1em;
    font-weight: bold;
    border-radius: .3rem;
}
#navbarNav ul li:hover
{
    background-color: #8c8886;
}
#navbarNav ul li a:hover
{
    color: #ffffff;
}
/*.carousel-inner img*/
/*{*/
/*    !*height: 65vh;*!*/
/*}*/
.jumbotron {
    height: calc(50px + 2vw);
    cursor: default;
    padding: calc(0.5rem + 0.5vw) 5px;
    margin: 1.5vw 0;
    background-color: #e9ecef;
    border-radius: .3rem;
    font-size: calc(0.5rem + 0.5vw);
}
.jumbotron:hover {
    background-color: #ffbc37;
    transition: 0.5s ease-in-out;
}
.jumbotron img {
    width: calc(20px + 3vw);
    height: calc(20px + 3vw);
}
